
{% extends "layout.html" %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/data-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Analysis</h1>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>What is a FASTA file?</h2>
          <p>FASTA orginated as a software package used to perform DNA and protein sequence alignments. FASTA files represents nucleotide and amino acids in a text based format, and have gained popularity in bioinformatics due to the easy manipulation by programming languages like Python, Ruby, Perl etc. </p>
          <h2>Salivary Samples</h2>
          <p>Samples were taken from 5 people over 3 different timepoints, 0, 60, 90. sequenced and stored in a FASTA file format</p>
          <h2>Taxonomy</h2>
          <p>imicrobe tools centrifuge taxonomy etc etc</p>
          <h2>High Performance Computing</h2>
          <p>TACC, UA HPC, SSH</p>
          <h2>Bubble Plot</h2>
          <p>This Bubble plot represents the abaundances of ... The x axis is the y axis is.....</p>
        </div>

<div>
 <iframe src="http://127.0.0.1:5000/dash" height="600" width="1000" allowfullscreen="" frameborder="0" ></iframe>
</div>


    </div>

    <hr>
